streamlit==1.22.0
streamlit_option_menu==0.3.2
minio==7.1.14
pandas==1.5.3
seaborn==0.12.2
matplotlib==3.7.1
plotly
hydralit_components==1.0.10
utils==1.0.1
uuid==1.30
katonic==1.6.0
kfp==1.8.20
boto3==1.26.118
numerize